#---VSCODE---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

#---INTELLIJ IDEA---
.idea
.idea/
/.idea/
*.iml
.shelf
/*.iml
/*.ipr
/*.iws
/out
/out/*.*

#---MAVEN---
.mvn/
log/
target/
target

#---APPLE---
.DS_Store

#---BUILD FILES---
**/*.class
**/*.bin
**/*.build
**/*.out
*.log
build
build/
**/*.jar

*.env